/* GLOBAL */
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  height: fit-content;
  background-color: fff;
  font-style: normal;
}
.navbar {
  padding-top: 30px;
  width: 95vw;
  display: flex;
  overflow: none;
  justify-content: space-between;
  min-width: 10px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: large;
  /* align-items: center; */
  letter-spacing: 3px;
  /* overflow: hidden; */
}

.navbar .navItems {
  display: flex;
  list-style: none;
}
.navbar #btn {
  display: none;
}
.navbar ul {
  background-color: red;
  float: left;
  display: block;
  flex-direction: row;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar .homePage {
  background-color: unset;
  float: none;
  display: flex;
  color: black;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 20px;
}

/* .navbar .homePage,
.navbar .rightItem {
  text-align: left;
  margin-left: 10vw;
} */

/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {
  .navbar {
    /* padding-top: 30px; */
    align-items: normal;
    overflow: none;
    background-color: aqua;
    flex-direction: column;
  }

  .navbar #btn {
    display: block;
    flex-direction: column;
  }
  .navbar .navItem {
    text-align: left;
    /* width: fit-content; */
  }
  .navbar .responsive {
    display: none;
  }
  .navbar .homePage,
  .navbar .rightItem {
    text-align: left;
    margin-left: none;
    background-color: blue;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  ...;
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar .homePage a,
  .navbar .rightItem a {
    background-color: gray;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar .homePage {
    background-color: unset;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
